*.aux
*.fdb_latexmk
*.fls
*.log
*.xdv
2017/seminar_01/seminar_1.html
2017/seminar_01/seminar_1.pdf
2017/seminar_02/seminar_2.html
2017/seminar_02/seminar_2.tex
2017/seminar_02/seminar_2.pdf
2017/seminar_02/seminar_2_files/
