note_template.aux
note_template.fdb_latexmk
note_template.fls
note_template.log
seminar_01/seminar_1.pdf
seminar_01/seminar_1.html
seminar_02/seminar_2.pdf
seminar_02/seminar_2.html
seminar_02/seminar_2.tex
seminar_02/seminar_2_files/figure-latex/unnamed-chunk-5-1.pdf
seminar_02/seminar_2_files/figure-latex/unnamed-chunk-6-1.pdf
seminar_02/seminar_2_files/figure-latex/unnamed-chunk-7-1.pdf
seminar_02/seminar_2_files/figure-latex/unnamed-chunk-8-1.pdf
2017/kr_01/kr_01.xdv
2017/seminar_01/seminar_1.html
2017/seminar_01/seminar_1.pdf
2017/seminar_02/seminar_2.html
2017/seminar_02/seminar_2.tex
2017/seminar_02/seminar_2.pdf
2017/seminar_02/seminar_2_files/
2017/kr_01_b/kr_01.xdv
